:root {
    --bg-color: #000000;
    --operator-color: #FF9F0A; 
    --function-color: #A5A5A5; 
    --number-color: #333333;   
    --text-white: #FFFFFF;
    --text-black: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.main-container {
    width: 320px;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.input-container {
    margin-bottom: 15px;
    padding: 0 15px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text-white);
    font-size: 80px;
    width: 100%;
    text-align: right;
    font-weight: 300;
    outline: none;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: var(--number-color);
    color: var(--text-white);
    font-size: 28px;
    cursor: pointer;
    transition: filter 0.1s;
}

button:active {
    filter: brightness(130%);
}

.btn-function {
    background-color: var(--function-color);
    color: var(--text-black);
    font-weight: 600;
}

.btn-operator {
    background-color: var(--operator-color);
    font-size: 32px;
}